<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010-2013 Andrei Pozolotin <Andrei.Pozolotin@gmail.com>

    All rights reserved. Licensed under the OSI BSD License.

    http://www.opensource.org/licenses/bsd-license.php

-->
<?eclipse version="3.4"?>

<plugin>

   <extension 
   		point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="com.carrotgarden.m2e.scr.ProjectConfiguratorSCR"
            id="carrot-maven-scr-plugin"
            name="carrot-maven-scr-plugin">
      </configurator>
   </extension>
   
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>
   
</plugin>
